{% extends 'template/landing_layout.twig' %}
{% block content %}
    <div>
        <img src="{{ base_url() }}/assets/img/logo/logo-landing-transparent-sm.png"/>
        <h4>Welcome, please select language</h4>
        <a class="en-link" href="{{ base_url() }}/EN">EN</a>
        |
        <a class="id-link" href="{{ base_url() }}/ID">ID</a>
    </div>
{% endblock %}