<footer class="footer-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="font-small py-2">
                    © 2019 AJCapital All Rights Reserved &nbsp;&nbsp;&nbsp;|
                    <a class="footer-link" href="{{base_url()}}/EN/privacy-policy">Privacy Policy</a>
                    |
                    <a class="footer-link" href="{{base_url()}}/EN/terms-of-use">Terms of Use</a>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>

    </footer>