{% extends 'template/layout_en_content.twig' %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div calss="col-md-12">
      <p style="padding-left:15px">
            <a href="javascript:history.go(-1)" class="btn btn-outline-green btn-sm"
          >Close</a
        >
      </p>
      <p>&nbsp;</p>
    </div>
  </div>
  <div class="row">
    <div calss="col-md-12">
      <p>&nbsp;</p>
      <h2>Privacy Policy</h2>
      <p>
        PT AJCapital Advisory (“PT AJC”, “we”, “our”, “us”) is committed to
        complying with all applicable data protection laws and regulations
        within every jurisdiction in which we operates.
      </p>
      <p>
        This Privacy Policy describes how we may collect, use, and share
        information, particularly in association with of our main Site
        (www.ajcapital.asia) and all of our websites, mobile applications, and
        HTML-formatted emails (collectively, “Online Services”).
      </p>
      <p>
        This privacy notice applies to our On-Line Services. It will notify you
        of the following:
      </p>
      <ol>
        <li>
          What personally identifiable information is collected from you through
          the website, how it is used and with whom it may be shared.
        </li>
        <li>
          What choices are available to you regarding the use of your data.
        </li>
        <li>
          The security procedures in place to protect the misuse of your
          information.
        </li>
        <li>How you can correct any inaccuracies in the information.</li>
      </ol>
      <p>
        PT AJC does not process, transfer, disclose or distribute personal data
        other than as described in this policy without consent from individuals
        to do so, unless required by law or regulation. To find out more about
        our specific processing activities, please go to the relevant sections
        of this policy.
      </p>
      <h4>Changes to this Privacy Policy</h4>
      <p>
        PT AJC regularly reviews this privacy policy and reserves the right to
        modify or amend it at any time
      </p>
      <h4>Information Collection, Use, and Sharing</h4>
      <p>We are the sole owners of the information collected via our On-Line Services. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone</p>
      <p>We use personal data for the following purposes:</p>
      <ul>
            <li>Providing professional services. Our services often require us to process personal data in order to provide advice and deliverables;</li>
            <li>Administering, managing and developing our businesses and services;</li>
            <li>In order to operate our business, including:
                <ul>
                    <li>managing our relationship with clients;</li>
                    <li>developing our businesses and services;</li>
                    <li>maintaining and using IT systems; and</li>
                    <li>hosting or facilitating the hosting of events.</li>
                        
                </ul>
            </li>
            <li>Personal data may be processed as part of the security monitoring that we undertake; for example, automated scans to identify harmful emails.  We have security measures in place to protect our and our clients’ information, which involve detecting, investigating and resolving security threat;</li>
            <li>We monitor the services provided to clients for quality purposes, which may involve processing personal data stored on the relevant client file;  </li>
            <li>We collect and hold personal data as part of our client engagement and KYC procedures.  As part of those procedures we carry out searches using publicly available sources (such as internet searches and sanctions lists) to identify politically exposed persons and heightened risk individuals and organisations and check that there are no issues that would prevent us from working with a particular client; </li>
            <li>Unless we are asked not to, we use client business contact details to provide information that we think will be of interest about us and our services.  Examples include industry updates and insights, information on other services that may be relevant, and invitations to events; and   </li>
            <li>As a professional services firm, we and our personnel are subject to legal, regulatory and professional obligations.  We maintain certain records to demonstrate that our services are provided in compliance with those obligations and those records may contain personal data.</li>

        </ul>
            
      </ul>
      <h4>Public forums (bulletin boards, blogs, chat rooms, etc.)</h4>
      <p>PT AJC may provide links to social media platforms maintained on separate servers by individuals or organizations over which PT AJC has no control. PT AJC makes no representations or warranties regarding the accuracy of information located on such servers. In addition, PT AJC cannot be held responsible if you share Personal Data on social media platforms that is subsequently used, misused or otherwise appropriated by another user. We recommend reviewing the privacy policy of any third-party site that may be linked from our website to determine their use of your Personal Data.</p>
      <h4>Security</h4>
      <p>We take the security of all the data we hold very seriously.  We have a framework of policies, procedures and training in place covering data protection, confidentiality and security. We regularly review the appropriateness of the measures we have in place to keep the data we hold secure.  Unfortunately, the transmission of information via the Internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our site; any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorized access.</p>
      <h4>Cookies</h4>
      <p>We use "cookies" on this site. A cookie is a piece of data stored on a site visitor's hard drive to help us improve your access to our site and identify repeat visitors to our site. For instance, when we use a cookie to identify you, you would not have to log in a password more than once, thereby saving time while on our site. Cookies can also enable us to track and target the interests of our users to enhance the experience on our site. Usage of a cookie is in no way linked to any personally identifiable information on our site.</p>
      <p>Some of our business partners may use cookies on our site. However, we have no access to or control over these cookies.</p>
      <h4>Links</h4>
      <p>This website contains links to other sites. Please be aware that we are not responsible for the content or privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of any other site that collects personally identifiable information.</p>
      <h4>Data retention</h4>
      <p>We retain the personal data processed by us in accordance with our policies or otherwise for as long as is considered necessary for the purpose for which it was collected (including as required by applicable law or regulation). Personal data may be held for longer periods where extended retention periods are required in order to establish, exercise or defend our legal rights.</p>
      <h4>Your Access to and Control Over Information</h4>
      <p>You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website:</p>
      <ul> 
      <li>See what data we have about you, if any.</li>
        <li>Change/correct any data we have about you.</li>
        <li>Have us delete any data we have about you.</li>
        <li>Express any concern you have about our use of your data.</li>
        </ul>

      <p>&nbsp;</p>
    </div>
  </div>
</div>
{% endblock %}
