{% extends 'template/layout_en_content.twig' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <img src="{{ base_url() }}/assets/img/pages/services.jpg" width="100%" alt=""/>
                <p>&nbsp;</p>
                <p style="margin-top: 20px; font-size: 14px;">
                    Our vision is to help enterprises unleash value and create opportunities. Our mission is to provide the creative and intelligent solutions necessary to assist enterprises turn themselves around, improve performance, develop new businesses and transform themselves. This involves providing a blend of global and local knowledge, skills and expertise, and in the process, providing our people with a challenging and engaging working environment as well as helping them develop to their fullest potential.
                </p>
                <p class="pages-content">&nbsp;</p>
            </div>
        </div>
    </div>
{% endblock %}