{% extends 'template/layout_en_content.twig' %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div calss="col-md-12">
      <p style="padding-left:15px">
        <a href="javascript:history.go(-1)" class="btn btn-outline-green btn-sm"
          >Close</a
        >
      </p>
      <p>&nbsp;</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>&nbsp;</p>
      <h2>Terms of Use</h2>
      <p>
        The AJCapital ("AJC") website (the "Site"), is property of PT AJCapital
        Advisory (“PT AJC”). PLEASE READ THE FOLLOWING TERMS AND CONDITIONS
        BEFORE USING THIS SITE.
      </p>
      <h4>Acceptance of Terms</h4>
      <p>
        By using our Site, you signify your agreement to these Terms of Use and
        agree to be bound by the same. If you do not agree or cannot comply
        please do not use our Website.
      </p>
      <p>
        Our Website may contain links to other websites which are owned and
        operated by third parties. These Terms of Use do not cover these
        websites. If you access these websites using the links provided, the
        operators of these websites may collect and use personal information
        from you in accordance with their privacy policies, which will differ
        from ours.
      </p>
      <p>
        Our Terms of Use must be read together with any other legal notices or
        terms and conditions available on other pages of our Website.
      </p>
      <p>
        These are the current Terms and Conditions which may change without
        giving notice to you individually.
      </p>
      <h4>Acceptable Use</h4>
      <p>
        We may restrict your access or revoke your right to use this Site
        without giving you notice. You may only use this Site for lawful
        purposes and may not disrupt, modify or interfere with this Site, any
        associated software, hardware or servers or any use of this Site by
        third parties. Please check to make sure that your use of this Site
        complies with all applicable local, state and federal laws.
      </p>
      <p>
        Any textual or graphic materials you copy, print, or download is
        licensed to you by PT AJC for your personal use only. Scraping is
        strictly prohibited. Under no circumstances may you modify any of the
        textual or graphic materials found on this Site or create derivative
        works therefrom. Should you fail to comply with any provision of these
        Terms of Use, this limited license will automatically terminate.
      </p>
      <h4>Intellectual Property</h4>
      <p>
        AJCapital and the AJCapital leaf logos are service marks of PT AJC.
        Other trademarks appearing on this Site are the property of their
        respective owners. Use of any trademarks owned by PT AJC or use of PT
        AJC marks as metatags is strictly prohibited without PT AJC’s express
        written permission.
      </p>
      <p>
        The aggregated and individual contents of this Site including, without
        limitation, text, photographs, graphic images and other materials (the
        "Works") are protected under copyright law. You have no right or license
        to reproduce, copy, edit, publish or transmit the Works except as set
        forth below without our express written permission.
      </p>
      <p>
        PT AJC does not grant you any express or implied right under any of its
        trademarks, copyrights or any other proprietary information appearing on
        the Site. In the event that you are granted any permission to use PT
        AJC's trademarks or copyrights, you acknowledge that you will not gain
        any ownership rights to the same.
      </p>
      <h4>Limitation of liability</h4>
      <p>
        Except as required otherwise by applicable law, we do not accept any
        responsibility and shall not be liable for any loss or damage
        whatsoever, whether in contract, tort (including negligence), breach of
        statutory duty or otherwise, even if foreseeable, arising under or in
        connection with:
      </p>
      <ol>
        <li>
          use of or reliance on any information, opinions, content and/or
          material held on this Website or made available in connection with
          this Website; or
        </li>
        <li>
          interruption or delay in access, use of, or inability to use or
          access, this Website;
        </li>
      </ol>
      <p>
        including but not limited to: loss of profits, sales, business, or
        revenue; loss of data; business interruption; loss of anticipated
        savings; loss of business opportunity, goodwill or reputation; wasted
        management time; or any indirect or consequential loss or damage.
      </p>
      <p>
        To the fullest extent permitted by applicable law, we exclude all
        conditions, warranties and representations in relation to this Site,
        whether express or implied.
      </p>
      <p>
        Except as required otherwise by applicable law, we will not be liable
        for any loss or damage caused to your information technology, computer
        programmes, platform, data or other proprietary material arising in
        connection with your use of this Site.
      </p>
      <h4>Entire Agreement</h4>
      <p>
        These Terms and Conditions constitute the entire agreement between you
        and PT AJC relating to access and use of this Site and supersede any
        prior or contemporaneous representations or agreements. Any rights not
        specifically granted by these Terms and Conditions are reserved by PT
        AJC.
      </p>
      <h4>Changes to this Website</h4>
      <p>
        We may update this Website from time to time, change the content at any
        time and we may suspend, withdraw, discontinue or change all or any part
        of this Website without notice. As such, there may be times when this
        Website is unavailable for use.
      </p>
      <h4>Changes of these Terms of Use</h4>
      <p>
        We may change our Terms of Use from time to time. When we change our
        Terms of Use, we will publish the updated terms on our Website. Please
        check these Terms of Use regularly. Subject to applicable law, all
        changes will take effect as soon as we publish the updated Terms of Use,
        but where legally required to do so, we may take additional steps to
        inform you of any material changes to our Terms of Use and may request
        that you agree to these changes.
      </p>
      <p>
        Should one or more provisions of these Terms of Use be or become invalid
        or unenforceable in whole or in part, this shall not affect the validity
        and enforceability of the remaining provisions of these Terms of Use. In
        place of any provisions which are invalid or not incorporated in these
        Terms of Use the relevant statutory provisions shall apply. In all other
        cases, the parties shall agree a valid provision to replace the invalid
        or unenforceable provision which reflects as closely as possible the
        original purpose.
      </p>
      <h4>Waiver</h4>
      <p>Our rights under these Terms of Use may only be waived in writing.</p>

      <p>&nbsp;</p>
    </div>
  </div>
</div>
{% endblock %}
