{% extends 'template/layout_en_content.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="events">2-4/04/2019 – INSOL Singapore Annual Regional Conference</h4>
                <p>AJCapital was a corporate sponsor for the INSOL International Annual Regional Conference  held over 3 days in Singapore.  Singapore was a highly appropriate for this international conference not only because of  its status as a global financial center and commercial hub, but also because of the ground breaking reforms they have made in both the legislative and non-legislative spheres to position itself as a global dispute resolution and restructuring hub.
                                                                                                                                                                            The theme for the conference “Looking to the future: what to expect and how to prepare” underscores the importance of the law and practice of insolvency looking ahead to anticipate the challenges of a rapidly evolving global economy.  This was driven by the concern that we are possibly at an inflection point as trade and technology surge ahead of the law at a breath taking pace. The ramifications are difficult to fully understand and sudden fault lines may occur that result in a serious work overload in the industry.
                </p>
                <span class="text-green">Venue:</span>
                Marina Bay Sands Expo® and Convention Centre<br/>
                <span class="text-green">Organized by:</span>
                INSOL International<br/>
                <p>
                    <span class="text-green">Reference:</span>
                    <a class="event-link" href="https://www.insol.org/events/detail/76" target="_blank">www.insol.org/events/detail/76</a>
                </p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <h4 class="events">11/10/2018 – Debtwire Asia-Pacific Distressed Debt Forum</h4>
                <p>AJCapital co-sponsored a One Day forum in Hong Kong discussing the risks, rewards, and market trends shaping the region’s distressed debt and credit opportunities.  Geoff Simms was on the South East Asia focused panel on Rescue finance and restructuring regime update.</p>
                <span class="text-green">Venue:</span>
                JW Marriott Hotel<br/>
                <span class="text-green">Organized by:</span>
                Debtwire
                <p>
                    <span class="text-green">Reference:</span>
                    <a class="event-link" href="https://events.debtwire.com/dw-apac-forum" target="_blank">events.debtwire.com/dw-apac-forum</a>
                </p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <h4 class="events">13/09/2018 – INSOL Jakarta One Day Seminar</h4>
                <p>AJCapital co-sponsored a One Day Seminar in Jakarta covering the importance of a liquid and appropriately regulated secondary market for bank NPLs whilst examining the structural and commercial impediments to its development in Indonesia. Geoff Simms was the Seminar Chair as well as Co-Chair on the discussion on cross border restructurings.</p>
                <span class="text-green">Venue:
                </span>Hotel Fairmont Jakarta<br/>
                <span class="text-green">Organized by:</span>
                INSOL
                <br/>
                <p>
                    <span class="text-green">Reference:</span>
                    <a class="event-link" href="https://www.insol.org/events/detail/74" target="_blank">www.insol.org/events/detail/74
                    </a>
                </p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <h4 class="events">24 & 25/08/2017 – Singapore Insolvency Conference</h4>
                <p>The Singapore Law Society invited Geoff Simms from AJCapital as panelist on the master class on cross-border restructuring in Indonesia and Singapore’s role.  The discussion centered around challenges of cross border restructurings in Indonesia against the back drop of Singapore’s newly introduced law supplementing and enhancing the laws relating to schemes of arrangement, judicial management and cross border insolvency.  This panel discussed whether the new regime will improve creditor rights in Indonesia and how creditors may be able to use the new regime to their advantage including:</p>
                <ol>
                    <li>Which routes for restructuring have historically existed for offshore lenders to distressed Indonesian borrowers? What additional options will the new restructuring regime create and what might it mean for creditors and debtors?</li>
                    <li>Will the Singapore regime be successful in improving creditor rights in Indonesia and under the PKPU process?</li>
                    <li>Historically, Singapore courts have not sought to influence the PKPU process. Will this change under the new regime?</li>
                    <li>Will Singapore court decisions be accepted and enforceable in Indonesia? What are some practical implications of the new regime for Indonesian counterparties?</li>
                    <li>How might some recently completed restructurings have occurred differently had the new Singapore regime been in place?</li>
                </ol>
                <span class="text-green">Venue:</span>
                Marina Bay Sands Expo and Convention Centre
                <br/>
                <span class="text-green">Organized by:</span>
                Singapore Law Society
                <br/>
                <p>
                    <span class="text-green">Reference:</span>
                    <a class="event-link" href="http://www.lawsociety.org.sg/conference/SIC2017/Default.aspx" target="_blank">www.lawsociety.org.sg/conference/SIC2017/</a>
                </p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <h4 class="events">14/09/2016 – INSOL Jakarta One Day Seminar</h4>
                <p>AJCapital is co-sponsoring a One Day Seminar in Jakarta covering recent developments in Indonesian restructuring practices, bankruptcy law, issues faced by foreign creditors in recovery actions, claims of trustees and bondholders under PKPU processes, restructuring of bond debt by way of Singapore and/or UK schemes of arrangement, and working capital challenges and solutions. Geoff Simms is chairing the discussion on working capital challenges and solutions.</p>
                <span class="text-green">Venue:</span>
                Hotel Fairmont Jakarta<br/>
                <span class="text-green">Organized by:</span>
                INSOL<br/>

            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <h4 class="events">17/05/2016 – Debt Restructuring in Asia: why the Next Wave Will Be Different
                </h4>
                <p>ASIFMA, The Financial Times and Latham & Watkins invited Geoff Simms of AJCapital to join as a panelist to discuss restructurings in Indonesia and what lessons were learnt from the most recent wave of defaults.</p>
                <p>
                    <span class="text-green">Venue:</span>
                    The Asia Society – Hong Kong
                    <br/>
                    <span class="text-green">Organized by:</span>
                    ASIFMA, The Financial Times and Latham & Watkins<br/>
                    <span class="text-green">Reference:</span>
                    <a class="event-link" href="https://www.lw.com/events/debt-restructurings-asia-next-wave" target="_blank">www.lw.com/events/debt-restructurings-asia-next-wave</a>
                </p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <h4 class="events">20/11/2015 – Introduction to Restructuring and Insolvency in Indonesia</h4>
                <p>Fransiscus Alip and Heru Nur Rahman of AJCapital, jointly with E&Y presented to Baker McKenzie Asia Pacific on restructuring and insolvency processes in Indonesia, including selected cases.</p>
                <p>
                    <span class="text-green">Venue:</span>
                    Shangri-La Hotel – Jakarta
                    <br/>
                    <span class="text-green">Organized by:</span>
                    Ernst & Young
                    <br/>
                </p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <h4 class="events">27/8/2015 – Restructuring Spotlight</h4>
                <p>AJCapital co-sponsored along with DLA Piper a Debtwire roundtable discussion on Indonesian insolvency laws in comparison with other Asian jurisdiction, the legal standing and rights of offshore bondholders in PKPU, and how a deal structure determines the process of filing for PKPU. Both Geoff Simms and Budi Martokoesoemo of AJCapital joined as panelist along with representatives from CLSA and DLA Piper.</p>
                <p>
                    <span class="text-green">Venue:</span>
                    Hotel Mandarin Oriental - Jakarta<br/>
                    <span class="text-green">Organized by:</span>
                    Debtwire<br/>

                </p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <h4 class="events">5/2/2015 – Restructuring Roundtable</h4>
                <p>OSP/Ashurst invited Geoff Simms from AJCapital as panelist to a Debtwire roundtable discussion they sponsored. The discussion centered around challenges of rehabilitating companies in Indonesia, the reliability of the PKPU process, industries in distress or undergoing restructuring, how onshore & offshore investor can ensure favorability in a PKPU process and how the Indonesian legal system tackles modern insolvency issues.</p>
                <p>
                    <span class="text-green">Venue:</span>
                    Hotel Mandarin Oriental – Jakarta
                    <br/>
                    <span class="text-green">Organized by:</span>
                    Debtwire<br/>

                </p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <h4 class="events">29/03/2014 – Career Workshop and Case Simulations</h4>
                <p>In this event, AJCapital invited final year students from top universities in Bandung to a career workshop in financial consulting. They were introduced to corporate finance and the case study method. The students also joined in a case simulation to apply what was learned.</p>
                <p>
                    <span class="text-green">Venue:</span>
                    Hotel Scarlet – Bandung
                    <br/>
                    <span class="text-green">Organized by:</span>
                    AJCapital
                    <br/>
                </p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <h4 class="events">5/11/2013 – Maximizing Outcomes in Upcoming Asia Restructuring</h4>
                <p>Geoff Simms of AJCapital was invited by Latham and Watkins to join as panelist to discuss the key issues in restructurings in Southeast Asia and India.
                </p>
                <p>
                    <span class="text-green">Venue:</span>
                    The Asia Society – Hong Kong<br/>
                    <span class="text-green">Organized by:</span>
                    Asia Society and Latham and Watkins<br/>
                    <span class="text-green">Reference:</span>
                    <a class="event-link" href="https://www.lw.com/events/Maximisingoutcomes" target="_blank">www.lw.com/events/Maximisingoutcomes
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}