{% extends 'template/layout_en_content.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img class="img-fluid" src="http://drive.google.com/uc?export=view&id=1uUtLvCWRFeUqdVK4Z3JC8gWokIIdxNY3" />
                <p>&nbsp;</p>
                <p>
                    We are Partners in Development, helping entrepreneurs and business
                            leaders realize their corporate actions and transactions. We help you
                            take your actions from vision/concept through, planning, outreach,
                            negotiation, execution and implementation. To this we bring deep
                            transactional experience, technical expertise and a strategic mindset.
                            This is applied in the context of an extensive business network which
                            gives us a strong foundation to assess underlying risks, counterparty
                            exposures, and competitive environment responses among others.
                </p>
                <p>
                    When we begin working with a client we visualize it through to
                            completion, map out the networks and power relationships of the key
                            counter parties and competitors, and consider the likelihood of various
                            outcomes/scenarios. This allows us to devise tactics and processes
                            accordingly and enables us to tackle even the most complex corporate
                            action. This approach requires that our due diligence process includes
                            that we build a clear understanding of the client's business strategy
                            and market position - and buy into it. We believe very strongly in this
                            approach. No corporate action can be successful if there are critical
                            flaws in the underlying strategy.
                </p>
                <p>
                    We have managed everything from assisting entrepreneurs’ transition from
                            owner-operator to IPO ready organizations through to billion dollar fund
                            raising for green field infrastructure projects and debt restructurings.
                            We are skilled at managing complex cross border debt restructurings with
                            diverse stake holder interests and complications.
                </p>
                <p class="pages-content">&nbsp;</p>
            </div>
        </div>
    </div>
{% endblock %}