{% extends 'template/layout_id_content.twig' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div calss="col-md-12">
                <p style="padding-left:15px">
                    <a class="btn btn-outline-green btn-sm" href="javascript:history.go(-1)">Tutup</a>
                </p>
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="row">
            <div calss="col-md-12">
                <p>&nbsp;</p>
                <h2>Kebijakan Privasi</h2>
                <p>
                    PT AJCapital Advisory (“PT AJC”, “kami”) berkomitmen untuk mematuhi seluruh undang-undang dan peraturan perlindungan data yang berlaku di setiap wilayah yuridiksi tempat kami beroperasi.
                </p>
                <p>
                    Kebijakan Privasi ini menjelaskan bagaimana kami mengumpulkan, menggunakan, dan membagikan informasi, khususnya yang berkaitan dengan Situs Utama kami (www.ajcapital.asia) dan semua situs web kami, aplikasi seluler, dan surat elektronik (email) berformat HTML (yang secara keseluruhan disebut “Layanan Daring”) (online services) ).
                </p>
                <p>
                    Kebijakan privasi ini berlaku untuk Layanan Daring kami. Hal ini akan memberi tahu Anda mengenai hal-hal berikut ini:
                </p>
                <ol>
                    <li>
                        Informasi identifikasi personal yang dikumpulkan dari anda melalui situs, bagaimana informasi tersebut digunakan dan kepada siapa informasi tersebut dibagikan.
                    </li>
                    <li>
                        Pilihan apa saja yang tersedia bagi Anda terkait dengan penggunaan data Anda.
                    </li>
                    <li>
                        Prosedur keamanan yang diterapkan untuk mencegah penyalahgunaan data Anda.
                    </li>
                    <li>Bagaimana Anda dapat memperbaiki ketidakakuratan informasi.
                    </li>
                </ol>
                <p>
                    PT AJC tidak memproses, mentransfer, mengungkapkan, atau membagikan data pribadi selain yang dijelaskan dalam kebijakan ini tanpa persetujuan dari pihak terkait untuk melakukannya, kecuali diwajibkan oleh hukum atau peraturan yang berlaku. Untuk mengetahui lebih lanjut mengenai kegiatan pemrosesan spesifik kami, silahkan merujuk kepada bagian terkait dari kebijakan ini.
                </p>
                <h4>Perubahan pada Kebijakan Privasi Ini</h4>
                <p>
                    PT AJC secara rutin meninjau kebijakan privasi ini dan berhak untuk memodifikasi atau pun mengubahnya kapanpun.
                </p>
                <h4>Pengumpulan, Penggunaan, dan Pembagian Informasi</h4>
                <p>Kami adalah pemilik tunggal atas informasi yang dikumpulan melalui Layanan Daring kami. Kami hanya memiliki akses untuk mengumpulkan informasi yang secara sukarela yang anda berikan melalui surat elektronik atau kontak langsung dari Anda. Kami tidak akan menjual atau menyewakan informasi tersebut kepada siapa pun.
                </p>
                <p>Kami menggunakan data pribadi untuk tujuan-tujuan sebagai berikut:
                </p>
                <ul>
                    <li>Memberikan layanan profesional. Layanan kami terkadang mengharuskan kami untuk memproses data pribadi agar dapat memberikan saran dan hasil;
                    </li>
                    <li>Menyelenggarakan, mengelola dan mengembangkan bisnis dari layanan kami;</li>
                    <li>Untuk mengoperasikan bisnis kami, termasuk:
                        <ul>
                            <li>Mengelola hubungan dengan klien;</li>
                            <li>Mengembangkan bisnis dan layanan kami;</li>
                            <li>Memelihara dan menggunakan sistem Teknologi Informasi (TI); dan
                            </li>
                            <li>Penyelenggarakan atau memfasilitasi Penyelenggaraan acara.</li>

                        </ul>
                    </li>
                    <li>Data pribadi dapat diproses sebagai bagian dari pemantauan keamanan yang kami lakukan; seperti, pemindaian otomatis untuk mengidentifikasi surat elektronik berbahaya. Kami memiliki langkah-langkah keamanan untuk melindungi informasi milik kami dan klien kami, yang melibatkan pendeteksian, investigasi, dan penyelesaian masalah keamanan.
                    </li>
                    <li>Kami memantau layanan yang diberikan kepada klien untuk tujuan kualitas, yang mungkin menyangkut pemrosesan data pribadi yang disimpan pada arsip klien yang relevan.
                    </li>
                    <li>Kami mengumpulkan dan menyimpan data pribadi sebagai bagian dari keterlibatan klien dan prosedur KYC. Sebagai bagian dari prosedur tersebut, kami melakukan pencarian melalui sumber yang tersedia untuk umum (seperti pencarian di internet dan daftar sanksi) untuk mengidentifikasi orang-orang yang populer secara politis
                        <i>(politically exposed persons)</i>
                        dan individu serta organisasi yang berisiko tinggi, juga memeriksa bahwa tidak terdapat masalah yang akan menghalangi kami untuk bekerja dengan klien tertentu.</li>
                    <li>Kami menggunakan detail kontak bisnis klien untuk memberikan informasi yang menurut kami menguntungkan bagi kami dan layanan yang kami berikan, kecuali kami diminta untuk tidak melakukannya. Seperti contohnya informasi dan wawasan baru terkait industri, informasi tentang layanan lain yang mungkin relevan, dan undangan ke acara-acara tertentu, dan
                    </li>
                    <li>Sebagai perusahaan layanan profesional, kami dan tim kami tunduk pada kewajiban hukum, peraturan, dan kewajiban profesional. Kami mengelola dokumen tertentu untuk menunjukan bahwa layanan kami disediakan sesuai dengan kewajiban tersebut dan dokumen tersebut dapat berisi data pribadi.</li>
                </ul>

            </li>
        </ul>
        <h4>Forum Publik (papan buletin, blog, ruang obrolan, dll)</h4>
        <p>PT AJC dapat menyediakan tautan ke platform media sosial yang dikelola di server terpisah oleh individu atau organisasi di luar kontrol PT AJC. PT AJC tidak memberikan pernyataan atau jaminan terkait keakuratan informasi yang berada di server tersebut. Selain itu, PT AJC tidak memiliki tanggung jawab apabila anda membagikan Data Pribadi anda di platform media sosial yang kemudian digunakan, disalahgunakan, atau digunakan oleh pengguna lain. Kami menyarankan Anda untuk meninjau kembali kebijakan privasi di situs pihak ketiga mana pun yang mungkin terhubung dengan situs web kami untuk memastikan penggunaan atas Data Pribadi anda.</p>
        <h4>Keamanan</h4>
        <p>Kami menjaga keamanan semua data yang kami miliki dengan sangat serius. Kami memiliki kerangka peraturan, prosedur, dan pelatihan yang mencakup perlindungan data, kerahasiaan, dan keamanan. Kami secara rutin meninjau kesesuaian tindakan yang kami lakukan untuk menjaga keamanan data yang kami miliki. Namun, pengiriman informasi melalui internet tidak sepenuhnya aman. Meskipun kami akan melakukan hal terbaik yang dapat kami lakukan untuk melindungi data pribadi Anda, kami tidak dapat menjamin keamanan data yang Anda kirimkan ke situs kami; pengiriman apapun akan menjadi risiko anda sendiri. Setelah kami menerima informasi anda, kami akan menggunakan prosedur dan fitur keamanan yang ketat untuk mencegah segala akses yang tidak terotorisasi.</p>
        <h4>Cookie</h4>
        <p>Kami menggunakan cookie pada situs ini. Cookie adalah sebuah data yang disimpan di perangkat keras (hard drive) milik pengunjung situs untuk membantu kami meningkatkan akses Anda ke situs kami dan mengidentifikasi pengunjung berulang ke situs kami. Sebagai contoh, ketika kami menggunakan cookie untuk mengidentifikasi Anda, Anda tidak perlu melakukan pengisian kata sandi lebih dari satu kali, sehingga menghemat waktu saat anda saat berada di situs kami. Cookie juga dapat memungkinkan kami untuk melacak dan menargetkan minat pengguna kami untuk meningkatkan pengalaman di situs kami. Penggunaan cookie sama sekali tidak terkait dengan informasi identifikasi pribadi apa pun di situs kami.</p>
        <p>Terdapat kemungkinan bahwa beberapa mitra bisnis kami menggunakan cookie di situs kami. Namun kami tidak memiliki akses atau kontrol terhadap cookie tersebut.</p>
        <h4>Tautan</h4>
        <p>Situs web kami berisi tautan ke situs-situs lain. Perlu diketahui bahwa kami tidak bertanggung jawab atas konten atau kebijakan privasi dari situs lain tersebut. Kami mendorong pengguna kami untuk waspada ketika meninggalkan situs kami dan untuk membaca kebijakan privasi dari situs lain yang mengumpulkan informasi identifikasi pribadi.</p>
        <h4>Penyimpanan Data</h4>
        <p>Kami menyimpan data pribadi yang kami proses sesuai kebijakan kami atau jika dianggap perlu sesuai dengan tujuan awal pengumpulannya (termasuk apabila diwajibkan oleh hukum dan peraturan yang berlaku). Data pribadi dapat disimpan untuk periode yang lebih lama di mana hal tersebut diperlukan untuk menetapkan, melaksanakan atau mempertahankan hak hukum kami.
        </p>
        <h4>Akses Anda dan Kontrol atas Informasi</h4>
        <p>Anda dapat memilih untuk berhenti menerima kontak dari kami di masa mendatang kapanpun. Anda dapat melakukan hal-hal berikut kapanpun dengan menghubungi kami melalui alamat surat elektronik atau nomor telepon yang tertera di situs web kami:</p>
        <ul>
            <li>Melihat data yang kami miliki tentang anda, jika ada.
            </li>
            <li>Mengubah/mengoreksi data yang kami miliki tentang Anda</li>
            <li>Meminta kami untuk menghapus data apapun yang kami miliki tentang anda</li>
            <li>Menyampaikan kekhawatiran anda mengenai penggunaan data anda oleh kami</li>
        </ul>

        <p>&nbsp;</p>
    </div>
</div></div>{% endblock %}