{% extends 'template/layout_id_content.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="{{ base_url() }}/assets/img/pages/services.jpg" width="100%" alt="" />
                <p>&nbsp;</p>
                <p style="margin-top: 20px; font-size: 14px;">
                    Visi kami adalah untuk membantu perusahaan untuk
                                                mewujudkan nilai dan menciptakan peluang bisnis. Misi kami adalah memberikan solusi
                                                kreatif dan cerdas yang diperlukan untuk membantu perusahaan dalam
                                                meningkatkan performa, mengembangkan bisnis baru dan bertransformasi. Hal ini mencakup menyediakan sebuah perpaduan pengetahuan
                                                global dan lokal, keterampilan dan keahlian, dan di dalam prosesnya 
                                                memberikan tenaga kerja kami lingkungan kerja yang menantang dan menarik
                                                serta membantu mereka untuk mengembangkan potensi mereka.
                </p>
                <p class="pages-content">&nbsp;</p>
            </div>
        </div>
    </div>
{% endblock %}