{% extends 'template/layout_id_content.twig' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class="events">
                    2-4/04/2019 – INSOL Singapore Annual Regional Conference
                </h4>
                <p>
                    AJCapital menjadi perusahaan yang mensponsori INSOL Singapore Annual
                            Regional Conference yang diselenggarakan selama 3 hari di Singapura.
                            Singapura merupakan negara yang sangat sesuai untuk konferensi
                            internasional ini bukan hanya karena statusnya sebagai pusat finansial
                            global dan pusat komersial, tetapi juga karena terobosan reformasi yang
                            dibuat dalam bidang legislatif dan non-legislatif untuk memposisikan
                            dirinya sebagai pusat resolusi perselisihan hukum global dan
                            restrukturisasi. Tema dari konferensi INSOL ini adalah “Melihat ke Masa
                            Depan: Apa yang Diharapkan dan Bagaimana Mempersiapkannya” yang
                            menekankan pentingnya hukum dan praktik insolvensi di masa depan untuk
                            mengantisipasi tantangan dari ekonomi global yang berkembang dengan
                            pesat. Hal ini didasari atas kekhawatiran akan kemungkinan kita berada
                            pada titik perubahan dimana perdagangan dan teknologi berkembang lebih
                            pesat daripada perkembangan hukum yang mengatur bidang tersebut. Hal
                            tersebut menimbulkan kesulitan dalam memahami secara menyeluruh dan
                            dapat menjadi masalah yang berakibat pada kegagalan di kemudian hari
                            sebagai hasil atas pekerjaan yang terlalu berat dalam industri.
                </p>
                <span class="text-green">Tempat:
                </span>Marina Bay Sands Expo® and
                      Convention Centre<br/>
                <span class="text-green">Penyelenggara:
                </span>
                INSOL International<br/>
                <p>
                    <span class="text-green">Referensi:
                    </span>
                    <a class="event-link" href="https://www.insol.org/events/detail/76" target="_blank">www.insol.org/events/detail/76</a>
                </p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <h4 class="events">
                    11/10/2018 – Debtwire Asia-Pacific Distressed Forum
                </h4>
                <p>
                    AJCapital menjadi salah satu sponsor One Day forum di Hong Kong yang
                            mendiskusikan mengenai resiko, hasil dan tren pasar yang membentuk
                            peluang di bidang
                    <i>distressed debt</i>
                    dan kredit. Geoff Simms turut serta pada panel fokus Asia Tenggara yang
                            membahas mengenai pertolongan finansial dan masa restrukturisasi.
                </p>
                <span class="text-green">Tempat:
                </span>
                JW Marriott Hotel<br/>
                <span class="text-green">Penyelenggara:
                </span>
                Debtwire
                <p>
                    <span class="text-green">Referensi:
                    </span>
                    <a class="event-link" href="https://events.debtwire.com/dw-apac-forum" target="_blank">events.debtwire.com/dw-apac-forum</a>
                </p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <h4 class="events">13/09/2018 – INSOL Jakarta One Day Seminar</h4>
                <p>
                    AJCapital menjadi salah satu sponsor One Day Seminar di Jakarta yang
                            membahas mengenai pentingnya pasar sekunder yang likuid dan diatur
                            secara tepat untuk NPL perbankan yang juga diiringi dengan pembahasan
                            mengenai hambatan struktural dan komersial atas perkembangan pasar
                            tersebut di Indonesia. Geoff Simms berperan sebagai ketua dan wakil
                            ketua seminar dalam diskusi mengenai restrukturisasi lintas negara.
                </p>
                <span class="text-green">Tempat:
                </span>Hotel Fairmont Jakarta<br/>
                <span class="text-green">Penyelenggara:
                </span>
                INSOL
                <br/>
                <p>
                    <span class="text-green">Referensi:
                    </span>
                    <a class="event-link" href="https://www.insol.org/events/detail/74" target="_blank">www.insol.org/events/detail/74
                    </a>
                </p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <h4 class="events">24 & 25 /08/2017 – Singapore Insolvency Conference</h4>
                <p>
                    Singapore Law Society mengundang Geoff Simms dari AJCapital sebagai
                            panelis dalam
                    <i>master class</i>
                    mengenai restrukturisasi lintas negara di Indonesia dan peran Singapura
                            di dalamnya. Diskusi tersebut terpusat di seputar tantangan
                            restrukturisasi lintas negara di Indonesia terhadap latar belakang
                            undang-undang yang baru diperkenalkan di Singapura yang melengkapi dan
                            menyempurnakan undang-undang yang berkaitan dengan penjadwalan ulang,
                            manajemen peradilan dan insolvensi lintas negara. Panel ini membahas
                            apakah peraturan baru tersebut akan memperbaiki hak kreditor di
                            Indonesia dan bagaimana kreditor dapat menggunakan peraturan baru
                            tersebut untuk keuntungan mereka termasuk:
                </p>
                <ol>
                    <li>
                        Cara apa yang dapat ditempuh untuk restrukturisasi selama ini bagi
                                  kreditor luar negeri? Opsi tambahan apa yang akan dibuat rezim
                                  restrukturisasi baru dan apa artinya bagi kreditor dan debitor?
                    </li>
                    <li>
                        Apakah peraturan baru di Singapura tersebut akan berhasil memperbaiki
                                  hak kreditor di Indonesia dan dalam proses PKPU?
                    </li>
                    <li>
                        Secara historis, pengadilan Singapura belum pernah berupaya untuk
                                  mempengaruhi proses PKPU. Akankah terjadi perubahan di bawah peraturan
                                  yang baru?
                    </li>
                    <li>
                        Apakah keputusan pengadilan Singapura dapat diterima dan dapat
                                  dilaksanakan di Indonesia? Apa implikasi praktis dari peraturan baru
                                  tersebut untuk pihak-pihak yang berada di Indonesia?
                    </li>
                    <li>
                        Bagaimana perbedaan terhadap hasil restrukturisasi yang baru-baru ini
                                  terjadi apabila peraturan baru Singapura tersebut telah berlaku?
                    </li>
                </ol>
                <span class="text-green">Tempat:
                </span>
                Marina Bay Sands Expo and Convention Centre
                <br/>
                <span class="text-green">Penyelenggara:
                </span>
                Singapore Law Society
                <br/>
                <p>
                    <span class="text-green">Referensi:
                    </span>
                    <a class="event-link" href="http://www.lawsociety.org.sg/conference/SIC2017/Default.aspx" target="_blank">www.lawsociety.org.sg/conference/SIC2017/</a>
                </p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <h4 class="events">14/09/2016 – INSOL Jakarta One Day Seminar</h4>
                <p>
                    AJCapital menjadi salah satu sponsor One Day Seminar di Jakarta yang
                            membahas perkembangan terakhir dalam praktek restrukturisasi Indonesia,
                            hukum kepailitan, masalah yang dihadapi oleh kreditor asing dalam
                            tindakan pemulihan, klaim wali amanat dan pemegang obligasi dalam proses
                            PKPU, restrukturisasi utang obligasi melalui penjadwalan ulang/<i>schemes of arrangement</i>
                    Singapura dan/atau UK, dan problematika modal kerja serta solusinya.
                            Geoff Simms memimpin diskusi tentang problematika modal kerja dan
                            solusinya.
                </p>
                <span class="text-green">Tempat:
                </span>
                Hotel Fairmont Jakarta<br/>
                <span class="text-green">Penyelenggara:
                </span>
                INSOL<br/>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <h4 class="events">
                    17/05/2016 – Restrukturisasi Utang di Asia: Mengapa Gelombang Berikutnya
                            akan Berbeda
                </h4>
                <p>
                    ASIFMA, The Financial Times dan Latham & Watkins LLP mengundang Geoff
                            Simms dari AJCapital untuk bergabung sebagai panelis untuk membahas
                            restrukturisasi di Indonesia dan pelajaran apa yang diperoleh dari tren
                            gagal bayar terkini.
                </p>
                <p>
                    <span class="text-green">Tempat:
                    </span>
                    The Asia Society – Hong Kong
                    <br/>
                    <span class="text-green">Penyelenggara:
                    </span>
                    ASIFMA, The Financial Times and Latham & Watkins LLP<br/>
                    <span class="text-green">Referensi:
                    </span>
                    <a class="event-link" href="https://www.lw.com/events/debt-restructurings-asia-next-wave" target="_blank">www.lw.com/events/debt-restructurings-asia-next-wave</a>
                </p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <h4 class="events">
                    20/11/2015 – Pengantar Restrukturisasi dan Insolvensi di Indonesia
                </h4>
                <p>
                    Franciscus Alip dan Heru Nur Rahman dari AJCapital, bersama-sama dengan
                            E&Y menyajikan kepada Baker McKenzie Asia Pasifik mengenai
                            restrukturisasi dan insolvensi di Indonesia, termasuk beberapa
                            kasus-kasus tertentu.
                </p>
                <p>
                    <span class="text-green">Tempat:
                    </span>
                    Shangri-La Hotel – Jakarta
                    <br/>
                    <span class="text-green">Penyelenggara:
                    </span>
                    Ernst & Young
                    <br/>
                </p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <h4 class="events">27/8/2015 – Sorotan Restrukturisasi</h4>
                <p>
                    AJCapital bersama DLA Piper mensponsori sebuah diskusi bersama Debtwire
                            tentang hukum kepailitan Indonesia dibandingkan dengan yurisdiksi lain
                            di Asia,
                    <i>legal standing</i>
                    dan hak-hak pemegang obligasi luar negeri di PKPU, dan bagaimana
                            struktur kesepakatan menentukan proses pengajuan PKPU. Geoff Simms dan
                            Budi Martokoesoemo dari AJCapital bergabung sebagai panelis bersama
                            dengan perwakilan dari CLSA dan DLA Piper.
                </p>
                <p>
                    <span class="text-green">Tempat:
                    </span>
                    Hotel Mandarin Oriental - Jakarta<br/>
                    <span class="text-green">Penyelenggara:
                    </span>
                    Debtwire<br/>
                </p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <h4 class="events">5/2/2015 – Diskusi Meja Bundar Restrukturisasi</h4>
                <p>
                    OSP/Ashurst mengundang Geoff Simms dari AJCapital sebagai panelis pada
                            diskusi bersama Debtwire yang mereka sponsori. Diskusi berpusat di
                            sekitar tantangan dalam merehabilitasi perusahaan di Indonesia,
                            keandalan proses PKPU, industri yang sedang mengalami kesulitan atau
                            menjalani restrukturisasi, bagaimana investor dalam dan luar negeri
                            dapat memastikan keberpihakan dalam proses PKPU dan bagaimana sistem
                            hukum Indonesia mengatur persoalan kepailitan modern.
                </p>
                <p>
                    <span class="text-green">Tempat:
                    </span>
                    Hotel Mandarin Oriental – Jakarta
                    <br/>
                    <span class="text-green">Penyelenggara:
                    </span>
                    Debtwire<br/>
                </p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <h4 class="events">29/03/2014 – Lokakarya Karir dan Simulasi Kasus</h4>
                <p>
                    Dalam acara ini, AJCapital mengundang mahasiswa tingkat akhir dari
                            universitas-universitas terkemuka di Bandung untuk sebuah lokakarya
                            karir dalam konsultansi keuangan. Mereka diperkenalkan dengan keuangan
                            perusahaan dan metode studi kasus. Para mahasiswa tersebut juga
                            bergabung dalam simulasi kasus untuk menerapkan apa yang telah
                            dipelajari.
                </p>
                <p>
                    <span class="text-green">Tempat:
                    </span>
                    Hotel Scarlet – Bandung
                    <br/>
                    <span class="text-green">Penyelenggara:
                    </span>
                    AJCapital
                    <br/>
                </p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <h4 class="events">
                    5/11/2013 – Memaksimalkan Hasil pada Restrukturisasi Masa Mendatang di
                            Asia
                </h4>
                <p>
                    Geoff Simms dari AJCapital diundang oleh Latham & Watkins LLP untuk
                            bergabung sebagai panelis untuk membahas isu-isu penting dalam
                            restrukturisasi di Asia Tenggara dan India.
                </p>
                <p>
                    <span class="text-green">Tempat:
                    </span>
                    The Asia Society – Hong Kong<br/>
                    <span class="text-green">Penyelenggara:
                    </span>
                    Asia Society and Latham & Watkins LLP<br/>
                    <span class="text-green">Referensi:
                    </span>
                    <a class="event-link" href="https://www.lw.com/events/Maximisingoutcomes" target="_blank">www.lw.com/events/Maximisingoutcomes
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}