{% extends 'template/layout_id_content.twig' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <img alt="" src="http://drive.google.com/uc?export=view&id=1KwDHBAZvm4KK_UsMK57_YeUJ_tgabGsL" width="100%" />
                <p>&nbsp;</p>
                <p class="pages-top">
                    Kami adalah Penasihat Perusahaan yang berfokus kepada situasi dan transaksi yang kompleks, baik domestik maupun lintas negara, yang membutuhkan cara unik dalam memecahkan masalah. Kami membawa keahlian dan pengalaman, jaringan dan koneksi yang mendalam, keterampilan negosiasi multikultural, dikemas dengan pola pemikiran strategis dan pengelolaan masalah yang jernih.
                </p>
                <p>Kami telah mendirikan kantor di Jakarta dan Singapura, serta berencana untuk mengembangkan bisnis kami ke pusat finansial di regional untuk melayani klien kami dengan lebih baik lagi.</p>
                <p class="pages-content">&nbsp;</p>
            </div>
        </div>
    </div>
{% endblock %}