{% extends 'template/layout_id_content.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="http://drive.google.com/uc?export=view&id=1uUtLvCWRFeUqdVK4Z3JC8gWokIIdxNY3" width="100%" />
                <p>&nbsp;</p>
                <p>
                    Kami adalah mitra Anda dalam berkembang, membantu wiraswasta dan
                                                pemimpin usaha melaksanakan aksi korporasi dan transaksi perusahaannya.
                                                Kami membantu Anda membawa visi/konsep melalui perencanaan, upaya,
                                                negosiasi, pelaksanaan dan implementasi. Dalam melakukannya kami membawa
                                                pengalaman transaksional yang mendalam, keahlian teknis, dan pola pikir
                                                strategis. Melalui jaringan bisnis yang luas kami memiliki dasar yang
                                                kuat untuk menilai resiko yang ada, paparan dari pihak lawan dan respons
                                                dari lingkungan yang kompetitif.
                </p>
                <p>
                    Ketika kami mulai bekerja dengan klien, kami merencanakanya hingga akhir
                                                dengan memetakan jaringan pihak terkait dan kompetitor yang terlibat,
                                                serta mempertimbangkan segala skenario yang ada. Hal ini memungkinkan
                                                kami untuk merancang taktik dan proses yang sesuai dan memungkinkan kami
                                                untuk mengatasi aksi korporasi yang paling kompleks sekalipun.
                                                Pendekatan ini memerlukan uji tuntas/<i>due diligence</i>
                    yang meliputi pemahaman mendalam tentang bisnis dan posisi pasar klien.
                                                Kami sangat percaya dengan pendekatan ini. Tidak ada aksi korporat dapat
                                                berhasil jika terdapat kecacatan strategis.
                </p>
                <p>
                    Kami telah melakukan berbagai hal mulai dari proses transisi perusahaan
                                                privat menjadi organisasi yang siap melakukan IPO sampai dengan penggalangan dana bernilai miliaran dolar untuk proyek-proyek infrastruktur
                    <i>greenfield</i>
                    dan restrukturisasi utang. Kami memiliki keterampilan
                                                dalam mengelola restrukturisasi utang lintas-batas yang kompleks dengan
                                                kepentingan pemegang saham yang beragam.
                </p>
                <p class="pages-content">&nbsp;</p>
            </div>
        </div>
    </div>
{% endblock %}