<footer class="footer-bg-mobile d-sm-block d-md-none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="font-small py-2">
                    &copy; 2019 AJCapital Hak Cipta Terpelihara
                    <br/>
                    <a class="footer-link" style="margin-left:0px;margin-right:0px;" href="{{ base_url() }}/ID/kebijakan-privasi">
                        Kebijakan Privasi</a>&nbsp;|
                    <a class="footer-link" style="margin-left:0px;" href="{{ base_url() }}/ID/ketentuan-penggunaan">Ketentuan Penggunaan</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="footer-bg d-none d-md-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="font-small py-2">
                    © 2019 AJCapital Hak Cipta Terpelihara &nbsp;&nbsp;&nbsp;|
                    <a class="footer-link" href="{{ base_url() }}/ID/kebijakan-privasi">
                        Kebijakan Privasi</a>
                    |
                    <a class="footer-link" href="{{ base_url() }}/ID/ketentuan-penggunaan">Ketentuan Penggunaan</a>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</footer>